*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color:lightgray;
}


header{
    background-color: white;
} 


header img{
    padding: 15px;
}

header h1{
    display: inline;
    vertical-align: 90%;
    
}

nav{
    background-color: white;
    margin:5% 15% 0.1% 15%;
    padding:2% 5% 2% 5%;
    line-height: 3em;
}


main{
    background-color: white;
    margin:0.1% 15% 5% 15%;
    padding:4%
}


ul{
    padding: 0.5% 0.5% 0.5% 5%;
}



.button-format{
    padding: 1%;
    font-weight: bold;
    font-size: 1.3em;
    border-radius: 15%;

}

#button-task{
    background-color: dodgerblue;
    color: white;
    border: none;
}

#button-section{
    background-color: white;
    color: lightgray;
    border:solid lightgray;

}


li{
    margin:10px;
}

.label-format{
    border-radius: 10%;
    font-size: 0.7em;
    color:white;
    font-weight: bold;
    border: none;
    padding: 0.5%;
}

.editoriale{
    background-color: dodgerblue;
}

.q1goals{
    background-color:purple;
}

.recruiting{
    background-color:seagreen;
}

.mobile{
    background-color: orangered;
}

.website{
     background-color: palevioletred;
}

.sales{
     background-color: yellowgreen;
}